body{
    display: flex;
    justify-content: center;
}

#main_container{   
    width: 80%;
    height: 100%;
    background-color: lightgrey;
}
header{
    color: white;
    background-color: rgb(52, 52, 150);
    text-align: center;
    vertical-align: middle;
    height: 8em;
    line-height: 8em;
    width: 95%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
#middle-section{
    background-color: grey;
    width: 95%;
    margin: auto;
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
}
#top-section{
    background-color: lightgrey;
    width: 95%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#top-section form{
    background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
fieldset{
    display: inline;
    padding: 0;
    text-align: center;
}
input{
    height: 1.5em;
}
input[type="text"]{
    width: 2em;
}
input[type="number"]{
    width: 3em;
}
input[type="color"]{
    width: 5em;
    padding: 0;
}

#main-section{
    background-color: rgb(107, 119, 235);
    width: 95%;
    margin: auto;  
    display: flex;
    flex-direction: column;
}
#table-render-space{
    background-color: beige;
    height: 50%;
    width: 97.5%;
    margin: auto;
    min-height: 16.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
#table-html-space{
    background-color: red;
    min-height: 16.5em;
    width: 97.5%;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 1em 0;
}
textarea{
    width: 95%;
}
footer{
    color: white;
    background-color: rgb(52, 52, 150);
    text-align: center;
    vertical-align: middle;
    height: 8em;
    line-height: 8em;
    width: 95%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1em; 
}
